/* .myPageTitle {
  padding-top: 7rem;
} */

/* .myPageSubTitle {
  padding-top: 1rem;
  color: darkgrey;
}
#dataEntry { */
  /* padding-top: 7rem; */
  /* color: darkgrey;
} */

/* .registerFrom {
  text-align: center;
} */