.myPageTitle {
  padding-top: 7rem;
}

.myPageSubTitle {
  padding-top: 1rem;
  color: burlywood;
}
#dataEntry {
  /* padding-top: 7rem; */
  color: burlywood;
}

.registerFrom {
  text-align: center;
}