.myPageTitle {
  padding-top: 7rem;
  /* color: red; */
}

.myPageSubTitle {
  padding-top: 1rem;
  /* color: burlywood; */
}

/* #dataEntry {
  color: burlywood;
} */

.loginForm {
  text-align: center;
}