

/* .myPageSubTitle {
  padding-top: 1rem;
  color: burlywood;
} */

/* #dataEntry { */
  /* padding-top: 7rem; */
  /* color: burlywood; */
/* } */

/* .loginForm {
  text-align: center;
} */

/* .centered { */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* width: 50%;
} */
/* 
.padding {
  padding: 10px 0px 0px 0px;
} */